.menu {
  &.win {
    &:not(.in-process) {
      background: url(../../img/Overlay.jpg) no-repeat center;
      background-size: cover;
    }
    .container {
      position: relative;
      z-index: 300;
    }
    .btn {
      padding: 0 3rem;
      font-size: 1rem;
      @media screen and(max-width: 629px) {
        width: 100%;
      }
      img {
        max-height: 1.5rem;
        margin-left: 0.5rem;
      }
    }
    .mainWinPart {
      margin-top: 1.5rem;
      .special {
        background-color: #28a7eb;
        border-radius: 1rem;
        padding: 0 3px;
        color: #fff;
      }
      .settingsMessage {
        text-align: center;
        font-size: 0.8rem;
        color: #e30612;
        margin: auto;
        margin-top: 1rem;
      }

      .col-lg-5 {
        .row {
          flex-wrap: wrap !important;
          height: 100%;
        }
      }

      h2 {
        color: #fff;
        font-size: 1.3rem;
        text-transform: none !important;
        @media screen and (max-width: 629px) {
          // font-size: 1.5rem;
          text-align: center;
          text-shadow: 2px 2px 0 black;
        }
      }

      @media screen and (max-width: 629px) {
        flex-wrap: wrap !important;
        margin-top: 1rem;
        .col-lg-5,
        .col-lg-7 {
          flex: 100%;
          max-width: 100%;
        }
      }
    }

    &::after,
    &::before {
      display: none;
    }

    .winBox {
      // background: #ffffff;
      padding: 1rem;
      border-radius: 10px;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media screen and (max-width: 629px) {
        padding: 0;
        .col-lg-auto {
          flex: 100%;
          max-width: 100%;
        }
      }
      h4 {
        font-family: "Foco";
        font-style: normal;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 120%;
        text-align: center;
        color: #0e2c60;
        margin-bottom: 1.5rem;
        @media screen and (max-width: 629px) {
          font-size: 0.95rem;
        }
      }

      form.row {
        flex-wrap: wrap !important;

        input {
          -webkit-appearance: none;
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          border: none;
          outline: none;
          z-index: 30;
          cursor: pointer;
        }

        input + label {
          font-family: "Foco Light";
          font-style: normal;
          font-weight: normal;
          color: #0e2c60;
          padding-left: 2rem;
          position: relative;
          display: block;
          line-height: 1.2;
          margin-bottom: 1.2rem;

          &::before {
            content: "";
            position: absolute;
            left: 5px;
            top: 5px;
            margin: auto;
            width: 18px;
            height: 18px;
            border: 1px solid #0e2c60;
            border-radius: 50%;
          }
        }

        input:checked + label {
          &::after {
            content: "";
            position: absolute;
            left: 9.5px;
            top: 9.5px;
            margin: auto;
            width: 9px;
            height: 9px;
            background: #0e2c60;
            border-radius: 50%;
          }
        }

        .selectionBtn {
          padding: 0 4rem;
          margin: 0 auto;
        }
      }

      .remainerQ {
        p {
          color: #9f9f9f;
          text-align: center;
          margin-top: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            margin-left: 0.5rem;
            background-color: #9f9f9f;
            padding: 1px 7px;
            color: #fff;
            font-weight: 100;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 629px) {
    &.win {
      max-width: 100%;
      padding: 0;
      padding-top: 1rem;
      .nav-mob {
        img {
          max-height: 2rem;
          display: block;
          margin: auto;
        }
      }
    }
  }
}

.saleWin {
  background: #e30612;
  transform: rotate(1.38deg);
  padding: 1rem;
  color: #fff;
  border: 10px solid #fff;
  position: relative;
  overflow: hidden;

  p {
    margin-top: 1rem;

    &.saleWinAmmount {
      font-size: 4rem;
      margin-top: 2rem;
      line-height: 0;
      margin-bottom: 4rem;
    }
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    width: 5rem;
    height: 5rem;
    background: url(../../img/toilet-p-before.png) no-repeat center;
    background-size: contain;
  }

  &::before {
    left: auto;
    right: -2.5rem;
    bottom: 2rem;
    height: 4rem;
    transform: rotate(30deg);
  }
  @media screen and (max-width: 629px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media screen and (max-width: 629px) {
    display: block;
    .saleWin {
      display: block;
      margin-top: -4rem;
      transform: scale(0.7) rotate(12.38deg);
    }
  }
}

.cancel-repost {
  margin-top: 0.5rem;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.winModalReady {
  h4 {
    color: #fff;
    margin: 1rem 0;
    @media screen and (max-width: 629px) {
      text-align: center;
      margin: 2rem auto;
      max-width: 80%;
    }
  }
  & + .row {
    .selectionBtn {
      width: 100%;
      background: #fff;
      color: #ec137a;
      padding: 0 3rem;
      font-size: 1.2rem;
    }
  }
}
.MainMenuBtn {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  bottom: 0;
  margin: auto;
}
.logoB {
  display: flex;
  img {
    display: block;
    flex: 65%;
    max-width: 65%;
    margin-right: 5%;
    object-fit: contain;
    &:last-child {
      flex: 25%;
      max-width: 25%;
    }
  }
}
.row.buttonSet {
  flex-wrap: wrap !important;
}

.win-blocks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  perspective: 800px;
  transition: all 0.3s ease;

  &.selected {
    grid-template-columns: 1fr;
    place-content: center;
    max-width: 62%;
    margin: auto;
    position: relative;
    top: -1.5rem;
    .navRow {
      display: grid;
      grid-template-columns: auto auto;
      place-items: center;
      grid-gap: 1rem;
      margin-bottom: 1rem;

      img {
        max-height: 3rem;
        max-width: 7rem;
        &:first-child {
          place-self: center end;
          padding-right: 1rem;
          border-right: 1px solid gray;
        }
        &:last-child {
          place-self: center start;
        }
      }
    }
    .promocode {
      margin: 0.5rem auto;
      max-width: 80%;
      width: fit-content;
      background: #67b564;
      color: #fff;
      padding: 3px 10px;
      border-radius: 15px;
    }
    .icon {
      max-width: 7rem;
      display: block;
      margin: 0.5rem auto;
      @media screen and (max-width: 629px) {
        max-width: 5rem;
      }
    }
    .selectionBtn {
      width: fit-content;
      min-height: 2.3rem;
      line-height: 2.3rem;
      margin: 0.5rem auto;

      @media screen and (max-width: 629px) {
        width: fit-content;
        min-height: 2.3rem;
        line-height: 2.3rem;
        padding: 0 1.7rem;
        margin: 1.5rem auto;
      }
    }
    @media screen and (max-width: 629px) {
      max-width: 100%;
      .block-win {
        height: fit-content;
        min-height: 70vh;
        padding: 0;
        top: 2rem;
      }
    }
    @media screen and (max-width: 329px) {
      .block-win {
        min-height: 85vh;
      }
    }
  }

  .block-win {
    padding-bottom: 135%;
    transition: all 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 34%;
      right: 1%;
      width: 28%;
      height: 0;
      margin: auto;
      padding-bottom: 40%;
      background: url(../../img/win-card-question-1.png) no-repeat center;
      background-size: contain;
    }
    &:nth-child(2) {
      &::after {
        background: url(../../img/win-card-question-2.png) no-repeat center;
        background-size: contain;
      }
    }
    &:nth-child(3) {
      &::after {
        background: url(../../img/win-card-question-3.png) no-repeat center;
        background-size: contain;
      }
    }

    &.flipped {
      transform: rotateY(180deg);
      z-index: 1000;

      &::after {
        display: none;
      }
      .front {
        opacity: 0;
      }
      .back {
        // transform: none;
      }
    }
    .back,
    .front {
      transform: rotateY(180deg);
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      backface-visibility: hidden;
    }
    .front {
      transform: none;
      background: url(../../img/winCard-bg.png) no-repeat center;
      background-size: cover;
    }
    .back {
      background: url(../../img/winCard-bg.png) no-repeat center;
      background-size: cover;
      padding: 1rem;
      cursor: default;

      .backContainer {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        top: 1rem;
        left: 1rem;
        border-radius: 15px;
        padding: 3px;
        border: 15px solid #fff;
        .content-inner {
          width: 100%;
          height: 100%;
          background: #fff;
          border-radius: 10px;
          > div {
            padding: 1rem;
          }
        }
      }
    }
    .logo-company {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 15px;
      background: #fff;
      padding: 5px 10px;
      width: fit-content;
      img {
        max-height: 1.5rem;
        width: auto;
        display: block;
        margin: auto;
      }
    }
  }
  @media screen and (max-width: 629px) {
    grid-template-columns: 1fr 1fr;
  }
}
.win:not(.in-process) {
  .winBox {
    .backContainer {
      position: static;
      max-width: 60%;
      margin: auto;
      padding: 4px;
      .content-inner {
        background: #fff;
        padding: 1rem;
      }
    }
  }
}
