.materials {
    margin: 0rem auto 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    .img-container {
        position: relative;
        height: 200px;

        img {
            position: absolute;
            max-width: 100%;
            max-height: 200px;
            width: 60%;
            display: block;
            margin: 0 auto;
            object-fit: cover;
            border: 10px solid #fff;
            border-radius: 5px;
            box-shadow: 10px 10px 10px rgba(#000, .2);
            left: 0;
            right: 0;

            &:nth-child(1) {
                transform: rotate(-5deg);
            }

            &:nth-child(2) {
                transform: rotate(5deg);
            }

            &:nth-child(3) {
                transform: rotate(0deg);
            }
        }
    }
}