.materials {
    margin: -2.1rem auto 1rem;
    position: relative;
    z-index: 10;

    h2 {
        margin-bottom: 1rem;
    }

    .img-container {
        position: relative;
        height: 210px;

        @media screen and (max-width: 629px) {
            height: 200px;
        }

        a {
            display: block;

            img {
                position: absolute;
                max-width: 100%;
                width: 65%;
                display: block;
                margin: 0 auto;
                object-fit: cover;
                border: 10px solid #fff;
                box-shadow: 10px 10px 10px rgba(#000, .2);
                left: 0;
                right: 0;
                height: 210px;
            }

            @media screen and (max-width: 629px) {
                img {
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    @media screen and (max-width: 629px) {
        margin-top: 1rem;
    }
}