.selectionBtn {
  -webkit-appearance: none;
  min-height: 3rem;
  background: #ce0b68;
  color: #fff;
  border-radius: 2rem;
  border: none;
  outline: none !important;
  width: 100%;
  margin: 0 0 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: none !important;
  display: block;

  @media screen and (max-width: 629px) {
    font-size: 0.85rem;
  }

  @media screen and (max-width: 330px) {
    min-height: 2.5rem;
  }
  // Iphone 5s

  &::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 2rem;
    z-index: 50;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    outline: none;

    &::after {
      left: 120%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  span {
    z-index: 20;
  }

  &.pink {
    background: #ce0b68;

    &:active {
      background: #b9c4ea;
    }
  }
}

// iPhone XR
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .gameContainer,
  .selectQwest,
  .menu {
    padding-top: 4rem !important;
  }
}

// iPhone XS
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .gameContainer,
  .selectQwest,
  .menu {
    padding-top: 4rem !important;
  }
}

// iPhone XS Max
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .gameContainer,
  .selectQwest,
  .menu {
    padding-top: 4rem !important;
  }
}

.back {
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background: none;
  width: fit-content;
  height: auto;
  position: absolute;
  left: 1.5rem;
  top: 5.5rem;
  font-family: "Montserrat";
  font-weight: 900;
  color: #24236b;
  font-size: 0.7rem;
  z-index: 99990;
  background: #ffffff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  &.desktop {
    @media screen and (max-width: 629px) {
      display: none;
    }
  }
}
.loadingComp {
  position: absolute;
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

.gameContainer {
  .mainBg {
    .nav {
      @media screen and (max-width: 629px) {
        display: none;
      }
    }

    .nav-mob {
      display: none;

      @media screen and (max-width: 629px) {
        display: flex;
        align-items: center;
        .col-lg-4 {
          .button.back {
            @media screen and (max-width: 629px) {
              display: block !important;
              position: static;
            }
          }
        }
      }
    }
  }
}
