.selectionBtn {
    -webkit-appearance: none;
    min-height: 3rem;
    background: #CE0B68;
    color: #fff;
    border-radius: 2rem;
    border: none;
    outline: none !important;
    width: 100%;
    margin: 0 0 .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: none !important;
    display: block;

    @media screen and (max-width: 629px) {
        font-size: .85rem;
    }
    @media screen and (max-width: 330px) {
        min-height: 2.5rem;
    }

    &::after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 2rem;
        z-index: 50;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
        outline: none;

        &::after {
            left: 120%;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

        }
    }

    span {
        z-index: 20;
    }

    &.pink {
        background: #CE0B68;

        &:active {
            background: #B9C4EA;
        }
    }
}

.gameContainer {

    .mainBg {

        .nav {
            @media screen and (max-width:629px) {
                display: none;
            }
        }

        .nav-mob {
            display: none;

            @media screen and (max-width:629px) {
                display: flex;
            }
        }
    }
}



// iPhone XR
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {

    .gameContainer,
    .selectQwest,
    .menu {
        padding-top: 4rem !important;
    }
}

// iPhone XS
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

    .gameContainer,
    .selectQwest,
    .menu {
        padding-top: 4rem !important;
    }
}

// iPhone XS Max
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

    .gameContainer,
    .selectQwest,
    .menu {
        padding-top: 4rem !important;
    }
}