$blue: #2bafec;

.mainBG {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: auto;
  left: 0;
  top: 0;
  background: url(../../img/mainBg.jpg) no-repeat center;
  background-size: cover;

  p {
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &.selectQwest {
    height: 100%;
    padding: 1.5rem;
    color: #ffffff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: url(../../img/after-quests-bg.png) no-repeat left bottom;
      background-size: contain;
      width: 80%;
      height: 100%;
    }

    @media screen and(max-width: 629px) {
      height: 100vh;
    }

    .nav {
      margin-bottom: 0rem;
      position: relative;
      z-index: 20;

      @media screen and (max-width: 629px) {
        display: none;
      }
    }

    .nav-mob {
      display: none;

      @media screen and (max-width: 629px) {
        display: flex;
      }
    }

    h2 {
      text-transform: initial !important;
      margin-bottom: 0;
    }

    .blue {
      color: $blue;
    }

    .descriptionContainer {
      margin-bottom: 0.6rem;

      p.nav-mob {
        margin-bottom: 1rem;
      }

      .description {
        max-width: 43%;
        flex: 50%;

        .explanationBox {
          background: #fff;
          border-radius: 1.5rem;
          font-size: 0.75rem;
          align-items: center;
          padding: 5px 1rem;

          p {
            margin-bottom: 0;
            line-height: 1.3;
          }

          .numeric {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -1.2rem;
          }
        }

        @media screen and (max-width: 629px) {
          // margin-bottom: 3rem;
        }
      }

      @media screen and (max-width: 629px) {
        flex-wrap: wrap !important;

        .col-lg-5 {
          flex: 100%;
          max-width: 100%;
        }

        + .row {
          display: none;
        }
      }
    }

    .row.quest-content--inner {
      flex-wrap: wrap !important;
      color: #000;

      &.desktop-only {
        @media screen and (max-width: 629px) {
          display: none;
        }
      }

      &.mob-only {
        display: none;

        @media screen and (max-width: 629px) {
          display: flex;
        }
      }

      .col-lg-4 {
        padding: 0 5px;
      }

      @media screen and (max-width: 629px) {
        flex-wrap: wrap !important;

        .col-lg-4 {
          flex: 100%;
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: 629px) {
      .mob-only {
        display: block;
      }
    }

    @media screen and (max-width: 415px) {
      .mob-only {
        margin-top: 2rem;
      }
    }
  }
}

.sale {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
  background: #0e2c60;
  border-radius: 8px;
  max-width: 80%;
  top: -1rem;
  margin: 0 auto -2rem;

  img {
    margin-right: 0.2rem;
    position: relative;
    top: -0.3rem;
    height: 2rem;
    margin-left: 1rem;
  }

  p {
    color: #fff;
    position: relative;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 629px) {
    top: 1rem;
    max-width: 50%;
    z-index: 100;
    height: 2.7rem;

    img {
      height: 3rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 480px) {
    max-width: 65%;
  }

  @media screen and (max-width: 415px) {
    max-width: 65%;
    height: 2.5rem;

    p {
      font-size: 1rem;
    }
  }
}

.quest-container {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 9px;
  margin-bottom: 1.6rem;

  button.selectionBtn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    background-color: #fd0b7e;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    letter-spacing: 3px;
    font-size: 0.8rem;
    font-weight: 900;
    display: flex;
    margin: 0.5rem auto 0;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: none !important;
    min-height: 0 !important;

    &.againBut {
      background-color: #9f9f9f;
    }
  }

  .header {
    color: #000;

    h4 {
      font-size: 0.8rem;
      margin: 0.5rem 0;

      text-align: center;
    }
  }

  .imgContainer {
    height: 7rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &.disabled {
    // filter: grayscale(1);
    position: relative;

    .imgContainer {
      position: relative;

      img {
        filter: grayscale(0.5) saturate(0.1);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 3rem;
        height: 3rem;
        background: url(../../img/lock.png) no-repeat center;
        background-size: contain;
        z-index: 500;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: url(../../img/pattern-after.png) no-repeat center;
      background-size: cover;
      opacity: 0.2;
    }

    button {
      opacity: 0;
      user-select: none;
      cursor: default;
    }
  }

  @media screen and (max-width: 629px) {
    margin: 2rem 0;

    @media screen and (max-width: 325px) {
      margin: 2rem 0 1rem;
    }

    .header {
      h4 {
        position: relative;
        color: #000;
        font-size: 1.5rem;

        @media screen and (max-width: 415px) {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        @media screen and (max-width: 325px) {
          font-size: 1rem;
        }
      }
    }

    button.selectionBtn {
      font-size: 1rem;

      @media screen and (max-width: 325px) {
        font-size: 0.9rem;
      }

      // iPhone XS
      @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        font-size: 1.1rem;
        padding: 0.5rem 2.5rem;
        margin: 1rem auto;
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        font-size: 0.9rem;
      }

      // iPhone 11 pro  Max
      @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
        font-size: 1.1rem;
        padding: 0.5rem 2rem;
        margin-bottom: 1rem;
      }
    }

    .imgContainer {
      height: 0;
      padding-bottom: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        object-position: top;
      }

      // iPhone XS
      @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        padding-bottom: 67%;
        margin-bottom: 1rem;
      }
    }
  }
}

.slick-dots li button:before {
  font-size: 0.8rem !important;
  color: #0e2c60 !important;
}

.animate__delay-1s {
  animation-delay: 0.2s !important;
}

.animate__delay-2s {
  animation-delay: 0.4s !important;
}

.animate__delay-3s {
  animation-delay: 0.6s !important;
}

.animate__delay-4s {
  animation-delay: 0.8s !important;
}

.animate__delay-5s {
  animation-delay: 1s !important;
}

.modal-popup {
  position: fixed;
  width: 630px;
  height: 630px;
  backdrop-filter: blur(2px);
  left: 0;
  z-index: 10000000;
  top: 0;
  background: rgba(black, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-Popup__content-inner {
    position: relative;

    .cancelBut {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: #fd0b7e;
      right: 0.5rem;
      top: -0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        max-width: 60%;
        object-fit: contain;
      }
    }
  }

  .modal-container-popup {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 1.5rem;
    border-radius: 1rem;
    max-height: 50vh;
    overflow: hidden;

    @media screen and (max-width: 629px) {
      max-height: 90vh;
    }

    .content-inner {
      max-height: calc(40vh - 3rem);
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 1rem;

      @media screen and (max-width: 629px) {
        max-height: calc(80vh - 3rem);
      }

      &::-webkit-scrollbar {
        position: relative;
        width: 5px;
        right: 10px;
      }

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background: #ce0b68;
      }
    }

    .buttonsSet {
      margin-top: 1rem;

      button.selectionBtn {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.2rem 1rem;
        background-color: #fd0b7e;
        color: #fff;
        margin-bottom: 0.5rem;
        border-radius: 2rem;
        letter-spacing: 3px;
        font-size: 0.8rem;
        font-weight: 900;
        display: flex;
        margin: 0.5rem auto 0;
        width: fit-content;
        justify-content: center;
        align-items: center;
        border: none !important;
        min-height: 0 !important;

        &.againBut {
          background-color: #9f9f9f;
        }
      }
    }
  }

  @media screen and (max-width: 629px) {
    width: 100vw;
    height: 100vh;

    .row {
      .modal-Popup__content-inner {
        flex: 90%;
        max-width: 90%;

        @media screen and (max-width: 340px) {
          flex: 95%;
          max-width: 95%;
        }
      }
    }
  }
}

.quest-content--inner {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-height: 70%;
  grid-gap: 15px;
  width: 100%;
  position: relative;
  z-index: 100;
  &.personal-quest {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 100%;
  }
  .quest-inner-content {
    position: relative;
    background: #fff;

    &::before {
      content: "";
      position: absolute;
      left: -3px;
      top: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      background: linear-gradient(#ecc440, #fffa8a, #ddac17, #ffff95);
    }
  }

  .quest-inner {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.85rem;
    display: grid;
    grid-template-rows: 50% 50%;
    max-height: 100%;
    grid-gap: 10px;
    position: relative;

    h4 {
      color: #000 !important;
      font-size: 1.2rem;
      margin-bottom: 0.25rem;
    }

    .descriptionText {
      color: #808080 !important;
      font-size: 0.65rem;
      margin-bottom: 0 !important;
    }

    .imgContainer {
      max-height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 6rem;
      }
    }

    .playBtn {
      max-width: 50%;
      width: fit-content;
      text-transform: uppercase;
      padding: 3px 2rem;
      min-height: unset;
      margin-bottom: 0;
      margin-top: 10px;
      letter-spacing: 1px;
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.navigation {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  margin-bottom: 2rem;

  .logotipy {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    place-content: center;
    place-items: center;
    place-self: center start;
    .logo-1 {
      border-right: 3px solid #fff;
      padding-right: 1rem;
    }
  }
  .gameName {
    place-self: center end;
  }
  img {
    max-height: 3rem;
    max-width: 8rem;
  }
}
